@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About US</h1>
    <p>
        Welcome to the New Zealand Waterproof Shoes Online, where we believe that comfort and practicality can go hand in hand.<br /><br />

        Our mission is to sell footwear that not only keeps your feet dry but also looks great and feels comfortable.<br />

        We are a family-owned business that started in a small garage in Auckland, New Zealand, with a passion for selling high-quality waterproof shoes that can withstand the unpredictable weather of New Zealand. <br />

        Our team of researchers have worked tirelessly to find shoes that are not only waterproof but also stylish, comfortable and durable.<br />

        We select only the highest quality materials in shoes, including premium leather, breathable fabrics and waterproof membranes. The selected shoes are designed with features such as slip-resistant soles, supportive footbeds and adjustable straps to ensure a perfect fit.<br />

        At the New Zealand Waterproof Shoes Online, we are committed to sustainability and reducing our environmental impact. We choose eco-friendly materials wherever possible, and the companies that processes and minimizes waste.<br />

        We are proud to say that our selling shoes are designed and manufactured in New Zealand, supporting our local economy and ensuring that we can maintain our high standards of quality.<br />

        We believe that footwear should be more than just a necessity; it should be an expression of your personal style and a reflection of your values. <br />
        That's why we are dedicated to providing our customers with shoes that are not only functional but also stylish and sustainable.<br /><br />

        Thank you for choosing the New Zealand Waterproof Shoes Online for all your waterproof footwear needs. <br />
        We are committed to providing you with the best possible experience and ensuring that you are completely satisfied with your purchase.<br />
    </p>
</div>
