@{
	ViewData["Title"] = "Contact Us";
}

<div class="text-center"">
	<h1 class="display-4">Contact US</h1>
	<p><br><br><br>Thank you for your interest in New Zealand WaterProof Shoes Online.</p>
	<p>If you have any questions, comments, or feedback, please get in touch with us using the contact form below.</p>
	<p><br><br><br> You can also reach us by phone or email:</p>
	<p>
		Phone: 1-800-555-1234<br>
		Email: info@nzwaterproofshoes.com
	</p>	
	<p> 
		<br><br><br>Thank you for your interest in our Waterproof Shoes!
	</p>
</div>
